In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Placement.CSV")

# Calling the .py file name from that importing the Class name

In [3]:
from UniVariate import UniVariate

# Qual Quan

In [4]:
Quan,Qual=UniVariate.QuanQual(dataset)

sl_no
gender
ssc_p
ssc_b
hsc_p
hsc_b
hsc_s
degree_p
degree_t
workex
etest_p
specialisation
mba_p
status
salary

In [5]:
Quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [6]:
Qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

# Creating Table For Below Categories
# Measure of Central Tendency(Mean,MedianMode),
# Measure of Location of the Data(Percentile, IQR)
# Min,Max,
# Skewness,Kurtosis,
# Measure of Spread(Variance&Standard_Deviation)

In [7]:
descriptive=UniVariate.UniVariate(dataset,Quan)

In [8]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:99%,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q5:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,37.0,50.0,50.0,51.21,200000.0
Max,215,89.4,97.7,91.0,98.0,77.89,940000.0
Skewness,0.0,-0.132649,0.163639,0.244917,0.282308,0.313576,3.569747
Kurtosis,-1.2,-0.60751,0.450765,0.052143,-1.08858,-0.470723,18.544273
Variance,3870.0,117.228377,118.755706,54.151103,176.251018,34.028376,8734295412.759695
Standard_Deviation,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.45242

# Finding Outlier

In [9]:
Lesser, Greater = UniVariate.FindingOutlier(Quan, descriptive)
print("Lesser:", Lesser)
print("Greater:", Greater)
Lesser = Lesser
Greater = Greater

Lesser: ['hsc_p']
Greater: ['hsc_p', 'degree_p', 'salary']

# Replacing Outlier

In [10]:
dataset = UniVariate.Handle_outliers(dataset, descriptive, Quan, Lesser, Greater)
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,390000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,390000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [11]:
descriptive=UniVariate.UniVariate(dataset,Quan)
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:99%,212.86,87.0,91.129,83.86,97.0,76.1142,NaN
Q5:100%,215.0,89.4,91.15,88.5,98.0,77.89,390000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,42.75,50.0,50.0,51.21,200000.0
Max,215,89.4,91.15,88.5,98.0,77.89,390000.0
Skewness,0.0,-0.132649,0.162611,0.204164,0.282308,0.313576,0.8067
Kurtosis,-1.2,-0.60751,0.086901,-0.09749,-1.08858,-0.470723,-0.239837
Variance,3870.0,117.228377,112.063731,53.60471,176.251018,34.028376,2944596800.882517
Standard_Deviation,62.209324,10.827205,10.586016,7.321524,13.275956,5.833385,54264.139179

# Verifying whether the values are Replaced in the dataset

In [12]:
Lesser, Greater = UniVariate.FindingOutlier(Quan, descriptive)
print("Lesser:", Lesser)
print("Greater:", Greater)
Lesser = Lesser
Greater = Greater

Lesser: []
Greater: []

In [13]:
UniVariate.FreqTable("hsc_p", dataset)

,Unique_Values,Frequency,Relative_Frequency,Cummulative_Frequency or cumsum
0,63.00,14,0.065116,0.065116
1,62.00,12,0.055814,0.120930
2,60.00,9,0.041860,0.162791
3,67.00,9,0.041860,0.204651
4,70.00,8,0.037209,0.241860
...,...,...,...,...
86,70.29,1,0.004651,0.981395
87,83.83,1,0.004651,0.986047
88,70.40,1,0.004651,0.990698
89,90.90,1,0.004651,0.995349
90,61.33,1,0.004651,1.000000